<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Unlikely Fighters</li>
          </ul>
        </div>
        <div class="top-bar-right"></div>
      </div>
    </div>
    <div class="app-content off-canvas-wrapper">
      <div class="off-canvas-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right reveal-for-large"></div>
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large"></div>
          <div class="callout primary">
            <div class="row">
              <h1>Unlikely Fighters</h1>
              <p class="lead">Dare to fight!</p>
              <a href="#" class="button">Origins</a>
            </div>
          </div>
          <div class="row small-up-2 medium-up-3 large-up-4">
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
            </div>
          </div>
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4">
          <div id="content" class="row"></div>
          <form id="checkout" method="post" action="/checkout">
            <div id="payment-form"></div>
            <input type="submit" value="Pay $10" class="button">
          </form>
        </div>
      </div>
    </div>
    
    <% include ../partials/footer.ejs %>
  </body>
</html>
